<header class="site-header">
    <div class="container">
        <a href="/index.html" class="logo-header">
            <img src="../assets/img/logo/logo_head.png" alt="Le Champ Carrillon">
        </a>

        <nav class="main-nav">
            <ul>
                <li><a href="../pages/accueil.html">Accueil</a></li>
                <li><a href="../pages/projet.html">Projet</a></li>
                <li><a href="../pages/histoire.html">Histoire</a></li>
                <li><a href="../pages/activites.html">Activités</a></li>
                <li><a href="../pages/actualites.html">Actualités</a></li>
                <li><a href="../pages/plan.html">Plan</a></li>
                <li><a href="../pages/galerie.html">Galerie</a></li>
            </ul>
        </nav>

        <a href="../pages/contact.html" class="btn-contact">Contact</a>

        <div id="page-fade"></div>
        <div id="page-fade-logo"></div>
    </div>
</header>
